<!DOCTYPE html>
<html lang="en">
<head>
    <title>Task Management Application</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
</head>
<body id="home">
    <h1>Welcome to the Task Management Application! {{username}}</h1>
    <h3 >What would you like to do</h3>
    <ul >
        <li><a href="/">Create a task</a></li>
        <li><a href="/">View tasks</a></li>

    </ul>


    <h5 id="change_user">Not {{username}} <a href="/users">CLICK HERE</a></h5>
</body>
</html>